<header class="site-header">
  <div class="site-header-wrapper">
    <div class="site-header-logo">
      <a href="https://www.texastribune.org/" class="site-header-logo-link">
        <img src="https://apps.texastribune.org/assets/images/tt-logo-white.png" alt="The Texas Tribune">
      </a>
    </div>
    <nav class="site-header-links">
      <ul>
        <li><a href="https://www.texastribune.org/data/">Data</a></li>
        <li><a href="https://www.tribtalk.org/">TribTalk</a></li>
        <li><a href="https://www.texastribune.org/directory/">Directory</a></li>
        <li><a href="https://www.texastribune.org/projects/">Projects</a></li>
        <li><a href="https://www.texastribune.org/subscribe/">Newsletters</a>
        </li>
        <li><a href="https://www.texastribune.org/events/">Events</a></li>
        <li><a href="https://support.texastribune.org/" class="donate">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
