.button {
  background-color: transparent;
  border: to-rem(2) solid transparent;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans-serif;
  font-size: 1.1rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.07em;
  line-height: 1;
  margin: 0;
  padding-bottom: .375em;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .375em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition:  background-color 300ms $curve-standard, color 300ms $curve-standard, border-color 300ms $curve-standard;
  vertical-align: middle;
  white-space: nowrap;
}

// .button--yellow {
//   background-color: $color-tribune-yellow;
//   border-color: $color-tribune-yellow;
//   color: $color-white;
//
//   &:active,
//   &:hover {
//     background-color: $color-white;
//     // color: $color-tribune-yellow;
//   }
// }
//
// .button--facebook {
//   background-color: $color-facebook;
//   border-color: $color-facebook;
//   color: $color-white;
//
//   &:active,
//   &:hover {
//     background-color: $color-white;
//     // color: $color-facebook;
//   }
// }
//
// .button--twitter {
//   background-color: $color-twitter;
//   border-color: $color-twitter;
//   color: $color-white;
//
//   &:active,
//   &:hover {
//     background-color: $color-white;
//     // color: $color-twitter;
//   }
// }

.article-shares-button {
  background-color: $dr-seafoam;
  border-color: $dr-seafoam;
  color: $dr-darkgreen;

  &:active,
  &:hover {
    background-color: $color-white;
    color: $dr-seafoam;
  }
}
