// Variables and mixins
@import 'variables';
@import 'mixins';
@import 'functions';

// Third-party libraries
@import 'node_modules/sass-mq/mq';

// Reset, overrides and utils
@import 'reset';
@import 'overrides';
@import 'utils';
@import 'grid';
@import 'typography';
@import 'buttons';
@import 'icons';

// Components
@import 'components/slider';
@import 'components/chosen';
@import 'components/dr-chosen';

@import 'components/site-header';
@import 'components/intro';
@import 'components/filter';
@import 'components/inmates';
@import 'components/footer';

//defaults
.banner-ad {
  border-top: 1px solid $color-grey;
  padding-top: .75em;
  text-align: center;
}

.hide-on-load {
  display: none;
}

.mobile-only {
  display: none;
}

img {
  max-width: 100%;
}
