//Death row chosen styles

//hide unstyled select box before chosen takes over
.county-select {
  border: 0;
  height: 0;
  width: 0;
}

.chosen-container-multi {
  float: left;

  .chosen-choices {
    background: $background-gray;
    border: 0;
    padding: 1.5px 10px;

    li.search-field input[type="text"] {
      color: $tribune-black;
      font-size: 14px;
      letter-spacing: .03em;
    }
  }
}
