.filters {
  background-color: $dr-seafoam;
  margin: 1em 0;
  padding: 1em 0;

  h3 {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: .02rem;
    margin-bottom: $spacer;
  }

  .container {
    @include mq($from: l, $until: xl) {
      max-width: 767px;
    }

    @include mq($from: xl) {
      max-width: 960px;
    }
  }
}

.all-criteria {
  @include clearfix;

  @include mq($from: m) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

  }
}

.criteria {
  margin-bottom: $spacer;

  h4 {
    background-color: $dr-darkgreen;
    color: $color-white;
    font-size: .9375rem;
    letter-spacing: .02em;
    margin-bottom: .85em;
    padding: .5em .25em;
    text-transform: uppercase;

    @include mq($from: s) {
      padding: .5em;
    }
  }

  ul {
    margin: 0;
  }

  &.timeserved {
    @include mq($until: m) {
      width: 62%;
      float: right;
    }

    @include mq($from: m) {
      flex-basis: 40%;
    }

    @include mq($from: l) {
      flex-basis: 49%;
    }

    @include mq($from: xl) {
      flex-basis: 20%;
    }
  }

  &.race {
    @include mq($until: m) {
      width: 35%;
      margin-right: 3%;
      float: left;
    }

    @include mq($from: m) {
      flex-basis: 56%;
    }

    @include mq($from: l) {
      flex-basis: 49%;
    }

    @include mq($from: xl) {
      flex-basis: 40%;
    }
  }

  &.age {
    @include mq($until: m) {
      width: 62%;
      float: right;
    }

    @include mq($from: m) {
      flex-basis: 40%;
    }

    @include mq($from: l) {
      flex-basis: 49%;
    }

    @include mq($from: xl) {
      flex-basis: 18%;
    }
  }

  &.sex {
    @include mq($until: m) {
      width: 62%;
      float: right;
    }

    @include mq($from: m) {
      flex-basis: 57%;
    }

    @include mq($from: l) {
      flex-basis: 49%;
    }

    @include mq($from: xl) {
      flex-basis: 18%;
    }
  }

  &.county {

    @include mq($until: m) {
      clear: both;
      margin-bottom: $spacer;

      .chosen-container {
        width: 100%;
      }
    }

    @include mq($from: m) {
      flex-basis: 100%;
    }

    @include mq($from: l) {
      flex-basis: 61%;
    }

    h4 {
      float: left;
      text-align: center;
      width: 30%;

      @include mq($from: m) {
        width: 35%;
      }

      @include mq($until: m) {
        float: none;
        margin-bottom: 0;
        width: 100%;
      }
    }

    .counties {
      float: right;
      width: 70%;

      @include mq($from: l) {
        width: 65%;
      }

      @include mq($from: s) {
        float: none;
        width: 100%;
      }

      @include mq($until: s) {
        float: none;
        width: 100%;
      }
    }
  }

  &.execution {
    text-align: center;

    .checkbox label {
      font-size: 1em;
      letter-spacing: .03em;
      margin-right: .5em;
    }

    @include mq($from: m) {
      flex-basis: 50%;
      margin: 0 auto;
    }

    @include mq($from: l) {
      flex-basis: 37%;
      margin: 0 0 0 2%;
    }

    @include mq($until: m) {
      margin-bottom: $spacer-double;

      h4 {
        margin: .5em 0;
      }
    }
  }
}

.checkboxes {
  li {
    display: block;
    margin-bottom: $spacer;
    font-size: .875rem;

    @include mq($from: m) {
      display: inline-block;
      margin-bottom: 1em;
    }

    @include mq($from: m, $until: l) {
      display: inline-block;
      margin-bottom: $spacer;
    }

    &:last-child {
      margin-bottom: $spacer-half;
    }
  }

  .sex & {
    li {
      display: inline-block;
    }
  }
}

.checkbox {
  display: inline-block;
  margin: 0 .15em 0 0;

  @include mq($from: m, $until: l) {
    margin: 0;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;
    font-size: .9em;
    letter-spacing: .01em;
    margin-right: .25em;
    text-transform: uppercase;

    @include mq($until: m, $from: l) {
      font-size: 1em;
    }

    @include mq($from: m, $until: l) {
      margin-right: .15em;
    }

    &:before {
      border: 2px solid $color-white;
      content: '';
      display: inline-block;
      height: 15px;
      margin-right: 3px;
      vertical-align: -2px;
      width: 15px;

      .execution & {
        margin-right: 7px;
      }

      @include mq($until: m, $from: l) {
        height: 17px;
        margin-right: 7px;
        vertical-align: -3px;
        width: 17px;
      }
    }
  }

  input:checked + label:before {
    background-color: $dr-orange;
  }
}

.num-match {
  font-weight: 700;
  letter-spacing: .1em;
  margin: .5em 0;
  text-align: center;
  text-transform: uppercase;

  @include mq($from: m) {
    margin: 2em 0 1em;
  }

  span {
    background-color: $color-white;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: $font-special;
    margin: 0 .125em;
    padding: .1em .2em 0;
    vertical-align: middle;
  }
}
