.article-header {
  @include clearfix();
  margin-top: 2rem;
  margin-bottom: 2rem;

  .article-title {
    border-left: 2px solid $dr-orange;
    font-family: $font-special;
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 1em;
    margin-bottom: .5em;
    padding-left: .25em;
    text-transform: uppercase;

    @include mq($from: m, $until: l) {
      font-size: 3.25rem;
    }

    @include mq($from: l) {
      font-size: 3.75rem;
      float: left;
      width: 45%;
    }

    @include mq($from: xl) {
      width: 40%;
    }
  }

  .article-text {
    @include mq($from: l) {
      width: 53%;
      float: right;
    }

    @include mq($from: xl) {
      width: 57%;
    }

    .article-desc {
      font-family: $font-serif;
      line-height: 1.5;

      strong {
        background-color: lighten($dr-seafoam, 10);
        font-family: $font-sans-serif;
        font-size: .85em;
        font-weight: bold;
        letter-spacing: .05em;
        color: $dr-darkgreen;
        padding: .1em .25em;
        text-transform: uppercase;

        &.new {
          background-color: initial;
          font-size: 1em;
          padding: 0 .25em 0 0;
        }
      }
    }
  }
}
