$med-header: new-breakpoint(max-width 560px);
$small-header: new-breakpoint(max-width 450px);

.masthead {
  padding:.5em 0;
  margin-bottom:1em;
  text-align:center;
  a {
    padding:0;
    margin:0;
    img {
      height:1.5em;
      padding:0 0.4em;
      @include media($med-header){
        margin:0.3em 0;
      }
      @include media($small-header){
        display: block;
        margin:0;
      }
    }
  }
}
