$dr-orange: rgb(255,133,33);
$dr-darkgreen: rgb(47,79,79);

$mobile: new-breakpoint(max-width 460px);
$small: new-breakpoint(min-width 461px max-width 660px);
$medium: new-breakpoint(min-width 661px max-width 860px);
$large: new-breakpoint(min-width 861px max-width 1080px);
$xlarge: new-breakpoint(min-width 1081px);

$morethan-460: new-breakpoint(min-width 461px);


.critieria_slider {
  width:100%;
}
.ui-slider {
    position: relative;
    text-align: left;
    display: inline-block;
}.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: default;
}.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}.slider-label {
    font-weight:700;
    display:inline-block;
    width:20px;
    &.start {
      margin-right:8px;
      text-align: right;
    }
    &.end {
      margin-left:10px;
    }
}.ui-slider-horizontal {
    height: 6px;
    background: $white;
    top: -3px;
    width: 62%;
    @include media($xlarge) {
      width: 65%;
    }
    @include media($large) {
      width: 82%;
    }
    @include media($medium) {
      width: 74%;
    }
    @include media($small) {
      width: 74%;
    }
}.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    margin-left: -7px;
    cursor: pointer;
}.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}.ui-widget-header {
  border: 1px solid #e78f08;
  background: $dr-orange;
  color: #fff;
  font-weight: bold;
}.ui-state-default {
  background: $dr-darkgreen;
}
