$dr-orange: rgb(255, 133, 33);
$dr-darkgreen: rgb(47, 79, 79);

$mobile: new-breakpoint(max-width 460px);
$small: new-breakpoint(min-width 461px max-width 660px);
$medium: new-breakpoint(min-width 661px max-width 860px);
$large: new-breakpoint(min-width 861px max-width 1080px);
$xlarge: new-breakpoint(min-width 1081px);

$morethan-460: new-breakpoint(min-width 461px);

.critieria_slider {
  width: 100%;
}

.ui-slider {
  display: inline-block;
  position: relative;
  text-align: left;

  .ui-slider-handle {
    cursor: default;
    height: 1em;
    position: absolute;
    width: 1em;
    z-index: 2;

    @include media($mobile) {
      height: 1.25em;
      width: 1.25em;
    }
  }

  .ui-slider-range {
    background-position: 0 0;
    border: 0;
    display: block;
    font-size: .7em;
    position: absolute;
    z-index: 1;
  }
}

.slider-label {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  width: 20px;

  &.start {
    margin-right: 8px;
  }

  &.end {
    margin-left: 10px;
  }
}

.ui-slider-horizontal {
  background: $white;
  height: 6px;
  top: -3px;
  width: 62%;

  @include media($xlarge) {
    width: 65%;
  }

  @include media($large) {
    width: 82%;
  }

  @include media($medium) {
    width: 74%;
  }

  @include media($small) {
    width: 74%;
  }

  .ui-slider-handle {
    cursor: pointer;
    margin-left: -7px;
    top: -4px;

    @include media($mobile) {
      top: -6px;
    }
  }

  .ui-slider-range {
    height: 100%;
    top: 0;
  }
}

.ui-widget-header {
  background: $dr-orange;
  border: 1px solid #e78f08;
  color: $white;
  font-weight: bold;
}

.ui-state-default {
  background: $dr-darkgreen;
}
