{% extends "templates/_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<h3 class="intro">The average inmate is a <span class="race">{{ META.dominant_race }}</span>, <span class="age">{{ META.average_age }}-year-old</span> <span class="sex">{{ META.dominant_sex }}</span> who was prosecuted in <span class="county">{{ META.dominant_county }}</span> county and has served <span class="time_served">{{ META.average_time_served }}</span> on death row.</h3>

<div id="interactive" class="container">
  <div class="filters sidebar">
    <div class="row">
      <h4 class="col-span-6 num-match"><span id="total_inmates">{{ META.total_inmates }}</span> inmates</h4>
    </div>
    <div class="criteria" id="race_criteria">
      <h4>Race</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="White"> <span>White</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Black"> <span>Black</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Hispanic"> <span>Hispanic</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Asian"> <span>Asian</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="Other"> <span>Other</span>
        </label>
      </div>
    </div>
    <div class="criteria" id="sex_criteria">
      <h4>Sex</h4>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="male"> <span>Male</span>
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="female"> <span>Female</span>
        </label>
      </div>
    </div>
    <div class="criteria" id="age_criteria">
      <h4>Age</h4>
      <span id="age_range_label" class="slider-label">{{ META.min_age }} - {{ META.max_age }}</span>
      <div id="age_slider" class="slider"></div>
      <input type="hidden" id="age_filter" value="{{ META.min_age }}-{{ META.max_age }}"/>
    </div>
    <div class="criteria" id="timeserved_criteria">
      <h4>Years on Death Row</h4>
      <span id="timeserved_range_label" class="slider-label">{{ META.min_years }} - {{ META.max_years }}</span>
      <div id="timeserved_slider" class="slider"></div>
      <input type="hidden" id="timeserved_filter" value="{{ META.min_years }}-{{ META.max_years }}"/>
    </div>
  </div>
  <div class="sorting content col-span-9">
  </div>
  <div class="inmates col-span-9" id="inmates">
  </div>
  <script id="inmate-template" type="text/html">
    <div class="inmate">
      <div class="open-lightbox" id="inmate<%= tdcj_id %>">
        <img class="grayscale" src="assets/images/<%= mug %>" />
        <div class="outline">
          <h4 class="name"><%= first_name %> <%= last_name %></h4>
        </div>
      </div>
    </div>
  </script>
  {% for inmate in INMATES %}
  <div id="light-inmate{{ inmate.tdcj_id }}" class="white_content hidden">
    <div class="bio">
      <img src="assets/images/{{ inmate.mug }}" />
      <div class="details">
        <h2>{{ inmate.first_name }} {{inmate.last_name }}</h2>
        <p><label>Age:</label> {{ inmate.age }}</p>
        <p><label>Sex:</label> {{ inmate.sex }}</p>
        <p><label>Race:</label> {{ inmate.race }}</p>
        <p><label>Time on Death Row:</label> {{ inmate.time_served }}</p>
        <hr>
        <p><label>County:</label> {{ inmate.county }}</p>
        <p><label>Crime:</label> {{ inmate.offense_date }}</p>
        <p><label>Conviction:</label> {{ inmate.received_date }}</p>
        <hr>
        <p><label>Summary of Crime</label></p>
        {{ inmate.summary }}
      </div>
    </div>
    <div class="close-lightbox">Close</div>
  </div>
  <div id="fade-inmate{{ inmate.tdcj_id }}" class="black_overlay hidden"></div>
  {% endfor %}
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
