{% extends "templates/_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block content %}
<h3 class="intro">The average inmate is a <span class="race">{{ META.dominant_race }}</span>, <span class="age">{{ META.average_age }}-year-old</span> <span class="sex">{{ META.dominant_sex }}</span> who was prosecuted in <span class="county">{{ META.dominant_county }}</span> county and has served <span class="time_served">{{ META.average_time_served }}</span> on death row.</h3>
<br>
<br>
<table>
<thead>
<th>Name</th>
<th>Race</th>
<th>Sex</th>
<th>Age</th>
<th>Years Served</th>
<th>County of Offense</th>
</thead>
<tbody>
{% for inmate in INMATES %}
  <tr>
    <td>{{ inmate.first_name }} {{ inmate.middle_name }} {{ inmate.last_name }}</td>
    <td>{{ inmate.race }}</td>
    <td>{{ inmate.sex }}</td>
    <td>{{ inmate.age }}</td>
    <td>{{ inmate.time_served }}</td>
    <td>{{ inmate.county }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
