<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="canonical" href="{{ CURRENT_PAGE_URL }}">
<meta name="description" content="{{ meta.description }}">
<meta name="robots" content="noarchive">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="@texastribune">
<meta property="og:url" content="{{ CURRENT_PAGE_URL }}">
<meta property="og:title" content="{{ meta.project_title }}">
<meta property="og:type" content="article">
<meta property="article:publisher" content="https://www.facebook.com/texastribune">
<meta property="article:published_time" content="2016-08-30">
<meta property="og:description" content="{{ meta.description }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ staticAbsolute('assets/images/social/bars.png', true) }}">
<meta property="fb:app_id" content="154122474650943">
