<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ META.project_title}} | The Texas Tribune</title>
  {% block meta %}
  <!--   Open Graph -->
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:type" content="website">
  <!-- Twitter settings -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:site" value="@TexasTribune">
  <meta name="twitter:creator" content="@newsapps">
  <meta property="og:url" content="http://apps.texastribune.org/death-row/">
  <meta property="og:title" content="{{ META.project_title }}">
  <meta property="og:description" content="{{ META.shareline }}">
  <meta property="og:redirect_uri" content="//s3.amazonaws.com/apps.texastribune.org/death-row/index.html">
  <meta property="og:image" content="//s3.amazonaws.com/apps.texastribune.org/death-row/assets/images/social/*******.png">
  <meta name="twitter:title" content="Faces of Texas' Death Row">
  <meta name="twitter:description" content="{{ META.shareline }}">
  <meta name="twitter:image" content="//s3.amazonaws.com/apps.texastribune.org/death-row/assets/images/social/*******.png">
  {% endblock %}
  <link rel="shortcut icon" type="image/x-icon" href="//s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Stardos+Stencil:400" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Stardos+Stencil:700" />
  <![endif]-->
  {% block styles %}
  <link rel="stylesheet" href="styles/main.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <section class="masthead">
      <a href="http://www.texastribune.org">
        <img class="trib-logo" alt="The Texas Tribune" src="http://s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png">
      </a>
  </section>
  <section id="header" class="container">
    <h1>{{ META.project_title }}</h1>
    <div class="description prose">
      {% if META.byline %}
        <div class="byline">
          By {% if META.byline_url %}<a href="{{META.byline_url}}">{% endif %}{{ META.byline }}{% if META.byline_url %}</a>{% endif %}{% if META.byline_2 %} and {% if META.byline_2_url %}<a href="{{META.byline_2_url}}">{% endif %}{{ META.byline_2 }}{% if META.byline_2_url %}</a>{% endif %}{% endif %}
        </div>
      {% endif %}
      <p>Here is a look at the <strong>{{ META.total_inmates }}</strong> inmates currently on Texas' death row. Texas, which reinstated the death penalty in 1976, has the most active execution chamber. But on average, inmates spend <strong>{{ META.average_time_served }}</strong> on death row before their punishment is carried out. <strong>{{ META.percent_black }} percent</strong> of death row inmates are black, contrasting with black residents making up {{ META.texas_percent_black }} percent of the state population.
      <ul class="share">
        <li>
          <a href="https://twitter.com/intent/tweet?text={{ META.project_title | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fdeath-row%2F&amp;via=texastribune" title="share on Twitter" class="social-share" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/dialog/share?app_id=154122474650943&amp;display=popup&amp;href=http%3A%2F%2Fapps.texastribune.org%2Fdeath-row%2F&amp;redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fdeath-row%2F" title="share on Facebook" class="social-share" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="mailto:?subject=The%20Texas%20Tribune:{{ META.project_title | urlencode }}&amp;body={{ META.email_line | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fdeath-row%2F" title="" class="email">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  {% block content %}{% endblock %}

  <footer class="footer">
    <div class="footer-container">
      <div>
        <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
      </div>
      <div>
        <ul>
          <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
          <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
          <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
          <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
          <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
        </ul>
      </div>
      <div class="internal-links">
        <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
        <li><a href="https://www.texastribune.org/join/" class="donate-link">Donate</a></li>
      </ul>
      </div>
      <div class="donate">
        <ul>
          <li>Nonpartisan.</li>
          <li>Nonprofit.</li>
          <li>Statewide.</li>
          <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
        </ul>
      </div>
    </div>
  </footer>

{% block script %}
<script src="scripts/bundle.js"></script>
<script>
  (function(c,o,r,g,i,s){c.GoogleAnalyticsObject=g;c[g]||(c[g]=
  function(){(c[g].q=c[g].q||[]).push(arguments)});c[g].g=+new Date;
  i=o.createElement(r);s=o.getElementsByTagName(r)[0];
  i.src='//www.google-analytics.com/analytics.js';
  s.parentNode.insertBefore(i,s)}(window,document,'script','ga'));
  ga('create','UA-9827490-1');ga('send','pageview');
</script>
{% endblock %}

</body>
</html>
