<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ META.project_title}} | The Texas Tribune</title>
  {% block styles %}
  <link href="styles/jquery-ui-1.10.2.custom.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
  {% endblock %}
</head>
<body>

<h1>{{ META.project_title }}</h1>
<p>{{ META.description }}</p>

<div id="main-content">
  {% block content %}{% endblock %}
</div>

{% block script %}
<script>
  var inmates = {{ INMATES|json }};
</script>
<script src="scripts/bundle.js"></script>
{% endblock %}
</body>
</html>
